*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #0f172a;
    padding: 0px 15px ;
    width: 99%;
    height: 80px;
    margin: 8px;
    border-radius: 15px;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1001;
    box-shadow: 0px 0px 10px #94a3b8;
}

.logo-container{
    width: 30%;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}

.logo-img{
    height: 50px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 15px;
}

.nav-items{
    align-items: center;
    padding-right: 5px;
}

.nav-items > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px;
}

.nav-items > ul > li{
    padding: 10px 15px;
    margin: 10px;
    font-weight: 900;
    border-radius: 10px;
}


.nav-items > ul > li:hover{
    background-color: #f1f5f9;
    cursor: pointer;
}

.body{
    margin-top: 120px;
}

.search{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin: 10px auto;
    padding: auto;
}

.search-input{
    padding: 2px 10px;
    margin: 0px 5px;
}

.search-btn{
    padding:5px 10px;
    margin: 0px 5px;
    border-radius: 10px;
    border-style: none;
    background-color:#f1f5f9;
    color:#0f172a;
}

.login-btn{
    padding:5px 15px;
    margin: 0px 5px;
    border-radius: 10px;
    border-style: none;
    background-color: #0f172a;
    color: #f1f5f9;
}

.filter-btn{
    background-color: #0f172a;
    color: #f1f5f9;
    margin: 8px;
    position: absolute;
    right: 0px;
    top: 110px;
    padding: 12px;
    border-radius: 10px;
    border-style: none;
}

.filter-btn:hover{
    cursor: pointer;
}

.res-container{
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}

.res-card{
    width: 225px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    transition: transform 0.3s ease;  
    /* box-shadow: 5px 5px 10px #a1a1aa; */
    margin: 5px 20px;
}

.res-card:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.res-info>img{
    width:100%;
    height:140px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px 10px #a1a1aa;
}

.res-info>h3{
    padding: 2px 5px;
    top: -28px;
    position: relative;
    z-index: 1;
    color: #fafafa;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    height: 25px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
}

.res-content{
    width: 100%;
    height:110px;
    padding: 10px 5px;
    position: relative;
    top: -30px;
}


.res-content>h5{
    height: 15px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.shimmer-container{
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 175px;
}

.shimmer-card{
    width: 225px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    margin: 5px 20px;
}

.shimmer-info{
    background-color: #e2e8f0;
    width:100%;
    height:140px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 5px;
}

.shimmer-content{
    background-color: #e2e8f0;
    width: 100%;
    height:50px;
    padding: 10px 5px;
}

.error-component{
    height: 500px;
    width: 600px;
    align-content: center;
    margin: 150px auto;
}
.error-component>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.contact-content, .about-content{
    padding:20px;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    align-content: center;
}

.contact-content>h1,p{
    width: 200px;
    margin: auto;
}

.about-content>h1,p{
    width: 200px;
    margin: auto;
}

.res-menu{
    padding:20px;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    align-content: center;
}

.user-card{
    margin: 10px;
    border-radius: 15px;
    background-color: #f1f5f9
}

.internet-status{
   height: 35px;
   position: fixed;
   left: 0px;
   top: 110px;
   margin: 10px;
}








